<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lpp.demo.mapper.StatsDeviceLocationMapper" >

<select id="getLocationInfo" parameterType="java.util.Date" resultType="com.lpp.demo.domain.StatsDeviceLocation">
SELECT sum(active_users) FROM stats_device_location where location_dimension_id IN (SELECT id FROM dimension_location WHERE province="山东")
</select>
</mapper>